


body {
  background-color: #f1f1f1; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  flex-direction: column;
}


.container {
  background-color: #fff; 
  color: #333; 
  border-radius: 12px; 
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
  width: 90%; 
  max-width: 1200px; 
  overflow: hidden; 
}

h2 {
  color: #212529; 
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 30px;
}


button {
  border: 1px solid #ddd; 
  background-color: transparent;
  color: #555;
  font-weight: 500;
  padding: 8px 15px;
  margin: 0 8px;
  border-radius: 25px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

button.btn-dark {
  background-color: #333;
  color: white;
}

button:hover {
  background-color: #444; 
  color: white;
  border-color: #333;
}


img {
  border-radius: 8px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  margin-bottom: 10px;
}

img:hover {
  transform: scale(1.05); 
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2); 
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal img {
  max-height: 90%;
  max-width: 90%;
  object-fit: contain;
  border: 3px solid #fff; 
  border-radius: 8px;

}